.idea/misc.xml
.idea/workspace.xml
Daily Projects/Day 39: Flight Deal Finder/.env
Daily Projects/Day 40: Flight Search Amadeus Start/.env
Daily Projects/Day 46: Time Machine YouTube Music playlist creator/oauth.json
Daily Projects/Day 46: Time Machine YouTube Music playlist creator/.env
Daily Projects/Day 47: Automated Amazon Price Tracker/.env
