.idea/misc.xml
.idea/workspace.xml
Daily Projects/Day 39: Flight Deal Finder/.env
Daily Projects/Day 40: Flight Search Amadeus Start/.env
Daily Projects/Day 46: Time Machine YouTube Music playlist creator/oauth.json
Daily Projects/Day 46: Time Machine YouTube Music playlist creator/.env
Daily Projects/Day 47: Automated Amazon Price Tracker/.env
Daily Projects/Day 53: Data Entry Capstone Project/.env
Daily Projects/Day 55: Higher and Lower game with Flask/.env
Learning and notes/Day 54/.env
Learning and notes/Day 56/.env
Daily Projects/Day 56: Name Card Website/.env
Learning and notes/Day 57/.env
Daily Projects/Day 60: Blog Capstone Project Contact Form/.env
Daily Projects/Day 61: Advanced Forms with Flask WTForms/.env
Daily Projects/Day 64: Top Movies website/.env
Daily Projects/Day 69: Blog Capstone Project Part 4. Adding Users/instance/posts.db
.idea/vcs.xml
.idea/100-days-of-python.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
