.idea/misc.xml
.idea/workspace.xml
Daily Projects/Day 39: Flight Deal Finder/.env
Daily Projects/Day 40: Flight Search Amadeus Start/.env
Daily Projects/Day 46: Time Machine YouTube Music playlist creator/oauth.json
Daily Projects/Day 46: Time Machine YouTube Music playlist creator/.env
Daily Projects/Day 47: Automated Amazon Price Tracker/.env
Daily Projects/Day 53: Data Entry Capstone Project/.env
Daily Projects/Day 55: Higher and Lower game with Flask/.env
Learning and notes/Day 54/.env
Learning and notes/Day 56/.env
Daily Projects/Day 56: Name Card Website/.env
